
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string message = ViewBag.Message;
}

<div>
    <h2 class="text-center">Result</h2>
    <div class="alert alert-success text-center">@message</div>
    <div style="margin-top: 10px; margin-bottom: 10px" class="text-center">
        <a id="create-receipt-btn" class="btn btn-primary text-center" href="@Url.Action("Index", "CreateDeliverySlip")">Go back</a>
    </div>
</div>
