@using Agent_WebForm_Prodject.Models
@{
    ViewBag.Title = "ViewAgentAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Session["StaffID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

    string agentId = ViewBag.Data;
    UserAccount agentAccount = new UserAccount();
    List<UserAccount> agentAccountList = agentAccount.SelectAgentAcByIDQuery(agentId);
}

<div>
    <div style="margin-top: 10px; margin-bottom: 10px" class="text-center">
        <span class="text-center">Agent account information</span>
    </div>
    <table class="table table-bordered">
        @if (agentAccountList.Count > 0)
            {
                <tr>
                    <td>Agent Username</td>
                    <td>@agentAccountList.First().UserName</td>
                </tr>
                <tr>
                    <td>Agent Password</td>
                    <td>@agentAccountList.First().UserPassword</td>
                </tr>
            }
    </table>
    <hr />
    <div style="margin-top: 10px; margin-bottom: 10px" class="text-center">
        <a id="create-receipt-btn" class="btn btn-primary text-center" href="@Url.Action("Index", "CreateAgentAccount")">Go back</a>
    </div>
</div>

